<h1>New</h1>
<form action="/sports" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="name">
	<input type="submit" value="Create Sports">
</form>